*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height:70px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon.logo.webp");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparest;
}

.border:hover{
   border: 2px solid white;
   cursor: pointer;
}

.addfirst{
    font-size:0.85rem ;
    font-family: Arial, sans-serif;
    color:#cccccc ;
    margin-left: 15px;
}

.addsec{
    font-size:1rem ;
    color:white ;
    margin-left: 3px;
}

.add-icon{
    display:flex;
    align-items: center;
}

.nav-search{
    width: 620px;
    margin: 0px 6px;
    padding: 10px 4px 10px 4px;
    display: flex;
}

.search-icon{
    background-color: orange;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.search-input{
   padding: 7px 10px 10px 0px;
   width: 520px;
}

.sign{
    background-color: black;
}

.nav-signin{
    margin-left: 10px;
}

span{
    font-size: 0.7rem;
}

.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-return{
    margin-left: 10px;
}

.cart i{
      font-size: 25px;
}

/* another line clone */

.panel{
    height: 40px;
    width: 100vw;
    background-color:#222f3d ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opt{
    display: flex;
    
    width: 70%;
    font-size: 0.85rem;
}

.panel-opt p{
    margin-right: 20px;
}

/* hero section */

.hero-section{
    background-image: url("AmazonHero.gif");
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 80%;
    margin-bottom: 20px;
}

.hero-msg a{
    color:#007185
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(217, 248, 251);
}

.box{
   border: 2px solid black; 
   height: 450px;
   width: 24%;
   margin-top: 20px;
   background-color: white;
   /* padding: 20px 0px 14px; */
}

.box-img{
    height:400px;
    background-size: cover;

}

.box-img p{
    color:#007185;
}
