*{
    padding:0
    
}
a{
    color: white;
    padding-right:200px;
}

#logo{
    color:darkgoldenrod;
}

div{
    color:white;

}
button{
    background-color: orange;
}

#navbar{
    height:60px;
    background-color: black;
}